h3 {
    font-family: sans-serif;
}

h6 {
  font-family: sans-serif;
  color: black;
}

.row {
    background-color: lightgrey;
}

.subjects{
  color: blueviolet;
}

.headines{
  color: blueviolet;
}

.Profile{
  color: blueviolet;
}
